<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2 style="background-color:#f5f5f5;font-family:algerian;color:#000000;">About us</h2>
    <p class="text-error" style="color:white">RckStrz: Lock: Always looking for the key. Michael: where is Katrina? Santosh: Mona, Take the cake! Varun: gay.  Xinfeng: bored. </p>
  </div>
  <div class="span4">
    <h2 style="background-color:blue;font-family:algerian;color:grey">Battleship</h2>
    <p style="color:white">
      Battleship is a guessing game for two players. It is known worldwide as a pencil and paper game which predates World War I. It was published by Milton Bradley Company in 1931 as the pad-and-pencil game "Broadsides, the Game of Naval Strategy", and as a board game in 1967. </p>
    <p><a class="btn" href="http://en.wikipedia.org/wiki/Battleship_(game)">Learn More &raquo;</a></p>
  </div>
  <div class="span4">
    <h2 style="background-color:#696969;font-family:algerian;color:#8b0000;">How to Play</h2>
    <p style="color:white">This is a game for two to eight players where players try to guess the location of the five ships that each of your opponents are hiding on a grid. Players take turns choosing an opponent to attack, attempting to choose a coordinate on the grid containing an enemy ship.</p>
    <p><a class="btn" href="/rules">Learn More &raquo;</a></p>
  </div>
</div>