<p>
	<h2>N-way Battleship</h2>
</p>

<p>
  This is a game for two to four players where players try to guess the location of the five ships that each of your opponents are hiding on a grid. Players take turns choosing an opponent to attack, attempting to choose a coordinate on the grid containing an enemy ship.
</p>
<p>
Players: 2-8 players
</p>
<p>
Goal: To sink all of your opponent's ships by correctly guessing their location.
</p>
<p>
<h2>
Setup
</h2>
</p>
<p>
Each player is presented with a 10x10 grid and 5 types of ships. 
</p>
<p>
Each player is given 1 minute to secretly place their ships horizontally or vertically within the boundaries of their grid. Ships are allowed to touch each other but they may not overlap. 
</p>
<p>
<h2>
Play
</h2>
</p>
<p>
Players take turns firing a shot to attack enemy ships.
</p>
<p>
On your turn, choose the opponent you want to target. Then choose a coordinate you want to attack.
</p>
<p>
The grid coordinate will be highlighted red if you hit an enemy ship or white if you missed. This allows you to keep track of your guesses. If every coordinate for an enemy ship has been hit, that ship is "sunk."
</p>
<p>
When one of your ships is hit, that part of the ship will be highlighted in red. If every coordinate on one of your ships has been hit, that ship is "sunk."
<p>
Victory: The first player to sink all opposing ships wins.
</p>