<h2>Deploy ships</h2>
<div id="deploy_counter" width="75" height="75"></div>
<div id="shipDeploymentCanvas" width="300" height="300"></div>
<div id="deployShip" class="btn btn-primary">+Deploy+</div>
<!--<div id="randomShip" class="btn btn-primary">+Rerandom+</div>-->