<div class="grid-list">
    <!--<div>-->
        <!--id:<%= ship_id %>-->
    <!--</div>-->
    <!--<div>-->
        <!--size:<%= ship_size %>-->
    <!--</div>-->
    <!--<div>-->
        <!--status:<%= status %>-->
    <!--</div>-->
</div>

