<h2>Other Grids List</h2>
<div class="row-fluid grid-horizontal" >
    <div class="span1">
    </div>
    <div class="span10">
        <img src="../assets/grid-horizontal.png">
    </div>
</div>
<div class="row-fluid">
    <div class="span1">
        <img src="../assets/grid-vertical.png">
    </div>
    <div class="span3">
        <div id="othersGridCanvas"></div>
    </div>
</div>