<footer class="navbar navbar-fixed-bottom">
  <div class="navbar-inner">
  <div class="container">
  <small>
    Battleship: Created by   <%= link_to "RckStrz", "https://github.com/cmusv/Fall-2012-96821-RckStrz", id: "logo" %>
  </small>

  <nav>
    <ul>
      <li><%= link_to "Help", "#" %></li>
      <li><%= link_to "About",   "#" %></li>
      <li><%= link_to "Contact", "#" %></li>
    </ul>
  </nav>
  </div>
  </div>
</footer>
